<h1>Dr. <%= @doctor.name %></h1>
<h3>Hospital: <%= @doctor.hospital.name %></h3>
<h3>Specialty: <%= @doctor.specialty %></h3>
<h3>Doctorate From: <%= @doctor.university %></h3>
<h3>Patients:</h3>
<% @doctor.patients.each do |patient| %>
  <div id="patient_<%= patient.id %>">
    <%= patient.name %>
  </div>
<% end %>